h1 {}

::-webkit-input-placeholder {
    font-family: var(--font-family);
}

:-ms-input-placeholder {
    font-family: var(--font-family);
}

:-moz-placeholder {
    font-family: var(--font-family);
}

::-moz-placeholder {
    font-family: var(--font-family);
}